* {
  border: 0px solid blue;
}


body {
  margin: 0 auto;
  width: 100%;
  height: 1080px;
  background: radial-gradient(#EAE3AC, #C9C272, #E9E6B9);

}


/* entire left borders with logo */
.mainBox {
  display: inline-block;
  margin-top: 0.5%;
  position: relative;
  height: 1080px;
  width: 20%;
  border: 0px solid black;
  overflow: hidden;

}

.leftBorder {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1%;
  display: inline-block;
  height: 100%;
  width: 25%;
  background-color: #181009;
  filter: brightness(66%);
  border-radius: 5px;


}

.leftBorderTwo {
  float: right;

  height: 100%;
  width: 72%;
  background-color: #000000;
  border-radius: 5px;


}


.logobox {
  margin-left: 6%;
  margin-top: 15%;
  clear: both;


  height: 330px;
  width:86%;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  filter: invert(100%);


}
.btn-group {
  margin-left: 15%;
  margin-top: 10%;

}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */

}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */

}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}


/* title bar and div across top of screen */
.titlebar {
  position: fixed;
  margin-top: 0.5%;
  margin-left: 21%;
  height: 100px;
  width: 78%;
  background-color: black;

  border-radius: 5px;
}

.title {
  margin-left: 10%;
  margin-top: 3%;
  font-family: "DroidSerif";
  font-size: 40px;
  color: white;
}


.contentbox {
  margin-left: 21%;
  margin-top: -51%;
  width: 100%;
  height: 800px;
  border-radius: 5px;
  position: fixed;
}


/* main content flex box with spacing equally around each picture. */
.contentsubbox {

  width: 78%;
  height: 800px;
  border-radius: 5px;
  background-color: rgba(000,000,000,0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


.check {
  font-family: "DroidSerif";
  color: white;
  font-size: 26px;
  opacity: 1;
  padding: 3px;
  width: 160px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  z-index: 2;


}

.shop {
  margin-top: 2%;

  border: 1px solid white;
  border-radius: 5px;


}
